@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap");
@layer theme, base, components, utilities;
@config "../tailwind.config.js";

@layer theme {
  :root {
    --font-sans: var(--font-urbanist);
  }
}
body {
  @apply leading-[normal] m-0;
}
@layer base {
  *, *::before, *::after { border-width: 0; }
  html, body { margin: 0; line-height: normal; }
}
